.richEditor {
  position: relative;
  border: solid 1px #999999;
  margin: 4px;
  padding: 4px;
  cursor: text;
  overflow: hidden;
}

.cursorLayer {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
}

.cursor {
  position: absolute;
  background: #cccccc;
  width: 3px;
  overflow: hidden;
  &.focus {
    background: #333333;
  }
  &.invisible {
    background: transparent;
  }
}

.agentTextArea {
  opacity: 0;
  width: 0;
  height: 0;
}
